apiVersion: apps/v1
kind: Deployment
metadata:
  name: currency-exchange
  namespace: default
  labels:
    app: currency-exchange
spec:
  replicas: 1
  minReadySeconds: 45
  selector:
    matchLabels:
      app: currency-exchange
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: currency-exchange
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64  
      containers:
      - name: currency-exchange
        image: atharvdevops/currency-exchange-devops:$(tag)
        imagePullPolicy: Always
        ports:git commit

        - name: http
          containerPort: 8000
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            cpu: 500m
            memory: 1024Mi
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 90
          periodSeconds: 10
          failureThreshold: 5
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 90
          periodSeconds: 10
          failureThreshold: 5
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: currency-exchange
  namespace: default
  labels:
    app: currency-exchange
spec:
  type: LoadBalancer
  selector:
    app: currency-exchange
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  sessionAffinity: None
